#documentation {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#documentation>.back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: 1px solid #64e3ff;
    background: none;
    color: #ffffff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#documentation>.back-btn>span:nth-child(2) {
    margin-top: 2px;
}

#documentation>.back-btn:hover {
    cursor: pointer;
    color: rgb(16, 16, 16);
    background-color: #64e3ff;
}

#documentation>.heading-one {
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
    margin-top: 3rem;
    font-family: "Abril Fatface", serif;
    color: #b4b4b4;
}

#documentation>.heading-one>h1 {
    font-size: 1.5rem;
}

#documentation>.heading-one>img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    animation: rotateGear infinite linear 1s;
}

@keyframes rotateGear {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#documentation>.heading-two {
    width: 80%;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-family: "Abril Fatface", serif;
    color: #b4b4b4;

}

#documentation>.code-editor {
    width: 80%;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 1rem;
    position: relative;
}

#documentation>.code-editor>pre {
    height: 50vh !important;
    background-color: #1c1c1c !important;
    font-size: 0.8rem;
    border-radius: 12px !important;
    padding: 2rem 1rem 1rem 1rem !important;
    margin-top: 0 !important;
}

#documentation>.code-editor>pre::-webkit-scrollbar {
    display: none;
}

#documentation>.code-editor>.option-bar {
    position: absolute;
    left: 0;
    width: calc(100% - 40px);
    height: 30px;
    background-color: #2f2f2f;
    color: #b4b4b4;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px 12px 0 0 !important;
}

#documentation>.code-editor>.option-bar>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#documentation>.code-editor>.option-bar>span>span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 3px;
}

#documentation>.code-editor>.option-bar>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#documentation>.code-editor>.option-bar>div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#documentation>.code-editor>.option-bar>div>span:hover {
    color: #dbdbdb;
}

#documentation>.code-editor>.option-bar>div>span>span:first-child {
    font-size: 1.4rem;
    margin-top: 3px;
}

#documentation>.error-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem 0 5px;
    animation: ErrorBoxAnimation 0.2s ease-in;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(4px);
}

@keyframes ErrorBoxAnimation {
    0% {
        right: -100vw
    }

    100% {
        right: 2rem;
    }
}

#documentation>.error-box>span:nth-child(1) {
    width: 5px;
    height: 90%;
    border-radius: 2.5px;
    background-color: #64e3ff;
}

#documentation>.error-box>span:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 6rem 0 1rem;
    font-size: 0.9rem;
}

#documentation>.error-box>span:nth-child(2)>span:first-child {
    font-weight: 600;
    color: #000;
}

#documentation>.error-box>span:nth-child(2)>span:last-child {
    color: #2f2f2f;
}

#documentation>.error-box>span:nth-child(3) {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    padding: 0.2rem;
    cursor: pointer;
}

#documentation>.error-box>span:nth-child(3):hover {
    background-color: #dfdfdf60;
}

.SyntaxHighlighter {
    position: relative;
}

.SyntaxHighlighter::before {
    position: absolute;
    content: "🥲 Go back";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 8rem;
    border-radius: 12px;
    background-color: rgb(52 52 52 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}