@media screen and (max-width:767px) {
    .top-section {
        padding: 2rem 5%;
    }

    .repos-section>h2 {
        width: 90%;
    }
    .repos-section>.repo-cards>.repo-card {
        width: calc(90% - 2rem);
    }

    .top-section>.basic-detail-a>img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .top-section>.basic-detail-a>span>h1 {
        font-size: 1.5rem;
    }

    .top-section>.basic-detail-a>span>span {
        font-size: 1rem;
    }

    .top-section>.basic-detail-b {
        font-size: 1rem;
        text-align: left;
        margin-top: 20px;
    }

    .top-section>.basic-detail-b>span {
        font-size: 1.5rem;
    }
    .repos-section>.loading-box{
        position: relative;
        height: 80px;
        width: 40%;
        margin-left: 0%;
        overflow: hidden;
    }
}

@media screen and (max-width:500px) {
    .top-section {
        padding: 2rem 5%;
        display: flex;
        flex-direction: column;
    }
    .top-section>.basic-detail-b {
        max-width: 90%;
        font-size: 1rem;
        text-align: left;
        margin-top: 10px;
    }
    .repos-section>.repo-cards {
        width: 90%;
        
    }
    .repos-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .top-section>.basic-detail-a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 0;
        gap: 15px;
        padding: 2rem 0;
    }

    .repos-section>h2 {
        width: 90%;
        font-weight: 400;
    }
    .repos-section>.repo-cards>.repo-card>span {
        width: 100%;
        text-align: left;
        padding: 0 0;
    }
    .repos-section>.repo-cards>.repo-card>.topics {
        margin-top: 10px;
        width: 100%;
        text-align: left;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .repos-section>.repo-cards>.repo-card {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .top-section>.basic-detail-a>img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .top-section>.basic-detail-a>span>h1 {
        font-size: 1.2rem;
    }

    .top-section>.basic-detail-a>span>span {
        font-size: 1rem;
    }

    .top-section>.basic-detail-b {
        font-size: 1rem;
        text-align: left;
        margin-top: 10px;
    }

    .top-section>.basic-detail-b>span {
        font-size: 1.5rem;
    }
}